[build-system]
requires = [ "flit_core >=3.3,<4",]
build-backend = "flit_core.buildapi"

[project]
name = "propshop"
requires-python = ">=3.10"
dependencies = [ "dynaconf~=3.1.11", "pydantic~=1.10.2", "pandas~=1.5.1", "openpyxl~=3.0.10", "pyarrow~=10.0.0", "scipy~=1.9.3",]
readme = "README.md"
dynamic = [ "version", "description",]
[[project.authors]]
name = "Blake Naccarato"
email = "blake.naccarato+propshop@gmail.com"

[project.urls]
Home = "https://github.com/blakeNaccarato/propshop"

[project.optional-dependencies]
