[build-system]
requires = [ "flit_core >=3.3,<4",]
build-backend = "flit_core.buildapi"

[project]
name = "propshop"
requires-python = ">=3.10"
dependencies = [ "dynaconf~=3.1.8", "pydantic~=1.9.0", "pandas~=1.4.2", "pandas-stubs~=1.2.0.58", "openpyxl~=3.0.9", "pyarrow~=8.0.0", "scipy~=1.8.0",]
readme = "README.md"
dynamic = [ "version", "description",]
[[project.authors]]
name = "Blake Naccarato"
email = "blake.naccarato+propshop@gmail.com"

[project.urls]
Home = "https://github.com/blakeNaccarato/propshop"

[project.optional-dependencies]
