# List project dependencies here. A workflow ports them to `pyproject.toml`. This is needed because Dependabot does not currently support `flit`-flavored `pyproject.toml`.
# For configuration and validation
dynaconf==3.1.12
pydantic==2.5.2
# For data processing
pandas==2.0.0
openpyxl==3.1.2
pyarrow==14.0.1
# For interpolation of properties
scipy==1.10.1
