# List project dependencies here. A workflow ports them to `pyproject.toml`. This is needed because Dependabot does not currently support `flit`-flavored `pyproject.toml`.
# For configuration and validation
dynaconf~=3.1.8
pydantic~=1.9.0
# For data processing
pandas~=1.4.2
pandas-stubs~=1.2.0.58
openpyxl~=3.0.9
pyarrow~=8.0.0
# For interpolation of properties
scipy~=1.8.0
