# List project dependencies here. A workflow ports them to `pyproject.toml`. This is needed because Dependabot does not currently support `flit`-flavored `pyproject.toml`.
# For configuration and validation
dynaconf~=3.1.9
pydantic~=1.9.1
# For data processing
pandas~=1.4.3
pandas-stubs~=1.4.3.220801
openpyxl~=3.0.10
pyarrow~=9.0.0
# For interpolation of properties
scipy~=1.9.0
